project_name                     = "infra-bootstrap"
region                           = "us-east-1"
environment                      = "dev"
terraform_state_bucket           = "orange-ks8-logs"
github_organization              = "AloisioBarbosa"
github_owner_id                  = "187329454"
infra_bootstrap_repository_id = "1325669181"
infra_network_repository_id      = "1317629609"
